// #region css reset
// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	// border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// #endregion css reset

/* Set every element's box-sizing to border-box */
* {
	// box-sizing: border-box !important;
	// border: 1px solid black;
}

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Ubuntu&display=swap");

// font-family: 'Oswald', sans-serif;
// font-family: 'Abril Fatface', cursive;

/* Color Theme Swatches in Hex */
@color-1: #ffe38f;
@color-2: #020873;
@color-3: #122173;
@color-4: #f2d16d;
@color-5: #f25c05;

.titles() {
	font-family: "Abril Fatface", cursive;
	color: @color-2;
}

.texts() {
	font-family: "Ubuntu", sans-serif;
	color: @color-3;
	font-size: 1.6rem;
	text-align: justify;
  	text-justify: inter-word;
}

.flexcol() {
	display: flex;
	flex-direction: column;
}

.flexrow() {
	display: flex;
	flex-direction: row;
}

html {
	background-color: @color-4;
	font-size: 62.5%;
	margin: 15px 5vw;
}
body {
	height: 100%;
	.texts();
}

h1 {
	.titles();
	font-size: 5rem;
	margin: 0 0 10px 0;
}
h2 {
	.texts();
	font-size: 2rem;
	letter-spacing: 2px;
	padding: auto;
	text-transform: uppercase;
}
h3 {
	.titles();
	font-size: 2.3rem;
	letter-spacing: 1px;
	margin-bottom: 1.2rem;
}
h4 {
	.texts();
	// font-size: 1.8rem;
	margin-bottom: 1.2rem;
	text-transform: uppercase;
	font-weight: bolder;
}
p {
	font-size: 1.6rem;
	line-height: 1.3;
	.texts();
}
header, footer {
	// padding: 25px;
	.flexcol();
	align-items: left;
	// height: 150%;
	justify-content: space-between;
	nav {
		padding: 10px;
		margin: 20px 0;
		background-color: @color-3;
		max-width: 100%;
		font-size: 1.6rem;
		.flexrow();
		justify-content: space-around;
		a {
			color: @color-1;
			text-decoration: none;
			// font-weight: bold;
			@media (max-width: 500px) {
				padding: 12px;
				margin: 0;
				border-bottom: 3px solid @color-1;
				text-align: center
						}
		}
		@media (max-width: 500px) {
			flex-direction: column;
			flex-wrap: nowrap;
			padding: 0;
			// margin: 0;
		}
	
	}
	div.intro {
		padding: 0 0 25px 0;
		// margin: 0 0 15px 0;
		// border-bottom: 1px dashed grey;
	}
}

div.content1 {
	.flexrow();
	justify-content: space-evenly;	
	background-color: @color-1;
	padding: 15px 0;
	flex-wrap: wrap;
	// border-top: 1px solid @color-3;
	// border-bottom: 1px solid @color-3;
	@media (max-width: 500px) {
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0;
	}
	.services {
		width: 41%;
		text-align: center;
		padding: 15px;
		margin: 15px 0;
		border: 1px solid @color-3;
		@media (max-width: 500px) {
			max-width: 100%;
			width: 100%;
		}
	}
}

div.content2 {
	margin: 25px 0 0;
	border-top: 1px solid @color-5;
	padding: 35px 0 0;
	border-bottom: 1px solid @color-5;
	
	.client {
		.flexrow();
		justify-content: space-between;
		margin-bottom: 35px;
		img {max-width: 25%;border-radius: 35px;}
		p {max-width: 72%;}
		// :lastChild{
		// 	margin-bottom: 0;
		// }
	}
}

div.contact {
	margin:35px 0;
	.flexrow();
	.bits {
		max-width: 325px;
		min-width: 300px;
		margin: 0 35px 0 0;
		padding: 0 35px 0 0;
		* {
			padding-bottom: 10px;
		}
		@media (max-width: 500px) {
			margin: auto;
			padding: 0;
			h4 {display: none;}
		}
	}
	.info {
		ul {
			li {
				padding: 10px;
			}
		}
	}
	@media (max-width: 500px) {
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0;
		align-items: center;
	}

}